<div class="books-index">
<h1>Editar Bitacora</h1>
</div>
<div class="book-form">
<div class="header-form">
    <h2>Editar Libro</h2>
</div>

<%= render 'form', book: @book %>
<%= link_to "Volver", books_path %>
