.filter-status {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px;
}

.label-filter {
  font-size: 20px;
  font-weight: bold;
}

.select-status {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.link-filter {
  background-color: #5C4033;
  color: #ffffff;
  padding: 8px 12px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s ease;
}