body {
  margin: 0%;
  padding: 0%;
  padding-bottom: 100px; /* Espacio para el footer fijo */
}

.books-index h1 {
  padding: 15px;
  margin: 0;
  background-color: #5C4033;
  color: #ffffff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  text-align: center;
  font-size: 30px;
}

.books-list {
  list-style-type: none;
  padding: 0;
  margin: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
}

.books-item {
  background-color: #FFFFF0;
  margin: 10px 0;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.book-title {
  font-size: 25px;
  font-weight: 500;
  color: #333333;
  margin-bottom: 8px;
}
